<div class="card-body">
  <table id="example2" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>No</th>
        <th>Nama game</th>
        <th>Item</th>
        <th>Total harga</th>
        <th>Status</th>
        <th>Nama player</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < transaction.length; i++){ %>
      <tr>
        <td><%= i + 1 %></td>
        <td>
          <div class="row">
            <div class="col-3">
              <img
                width="48px"
                src="http://localhost:3000/uploads/<%= transaction[i].historyVoucherTopup.thumbnail %>"
                alt="thumbnail"
              />
            </div>
            <div class="col">
              <ul class="list-inline">
                <li><b><%= transaction[i].historyVoucherTopup?.gameName %></b></li>
                <li><i><%= transaction[i].historyVoucherTopup?.category %></i></li>
              </ul>
            </div>
          </div>
        </td>
        <td>
          <%= transaction[i].historyVoucherTopup?.coinQuantity %> <%=
          transaction[i].historyVoucherTopup?.coinName %>
        </td>
        <td><%= transaction[i].value %></td>
        <td>
          <% if(transaction[i].status === 'pending') { %>
          <span class="badge badge-warning text-dark">
            <%= transaction[i].status %>
          </span>
          <% } else if(transaction[i].status === 'success') { %>
          <span class="badge badge-success text-white">
            <%= transaction[i].status %>
          </span>
          <% } else { %>
          <span class="badge badge-danger text-white">
            <%= transaction[i].status %>
          </span>
          <% } %>
        </td>
        <td><%= transaction[i]?.player?.name ?? '-' %></td>
        <td class="d-flex align-items-center">
          <form
            class="mr-2"
            action="/transaction/status/<%= transaction[i]._id %>?_method=put"
            method="POST"
          >
            <button class="btn btn-sm btn-danger">
              <i class="fas fa-times-circle"></i>
              Decline
            </button>
          </form>
          <form
            action="/transaction/status/<%= transaction[i]._id %>?_method=put"
            method="POST"
          >
            <button class="btn btn-sm btn-info">
              <i class="fas fa-check"></i>
              Accept
            </button>
          </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
