<div class="card-body">
  <table id="example2" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>No</th>
        <th>Nama game</th>
        <th>Item</th>
        <th>Total harga</th>
        <th>Status</th>
        <th>Nama player</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < transaction.length; i++){ %>
      <tr>
        <td><%= i + 1 %></td>
        <td>
          <ul class="list-inline">
            <li class="list-inline-item">
              <img
                width="48px"
                src="http://localhost:3000/uploads/<%= transaction[i].historyVoucherTopup.thumbnail %>"
                alt="thumbnail"
              />
            </li>
          </ul>
          <%= transaction[i].historyVoucherTopup?.gameName %>
          <br />
          <%= transaction[i].historyVoucherTopup?.category %>
        </td>
        <td>
          <%= transaction[i].historyVoucherTopup?.coinQuantity %> <%=
          transaction[i].historyVoucherTopup?.coinName %>
        </td>
        <td>
          <% if(transaction[i].status === 'pending') { %>
          <span class="badge badge-warning text-white">
            <%= transaction[i].status %>
          </span>
          <% } else if(transaction[i].status === 'success') { %>
          <span class="badge badge-success text-white">
            <%= transaction[i].status %>
          </span>
          <% } else { %>
          <span class="badge badge-danger text-white">
            <%= transaction[i].status %>
          </span>
          <% } %>
        </td>
        <td><%= transaction[i]?.player?.name ?? '-' %></td>
        <td class="d-flex">
          <form
            style="display: inline-block"
            action="/transaction/delete/<%= transaction[i]._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-sm btn-danger">
              <i class="fas fa-trash"></i>
              Hapus
            </button>
          </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
